html, body {
	padding: 0;
	margin: 0;
	font-family: 'Playfair Display', sans-serif;
}

.header {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 1000;
}

.header .title {
	font-size: 70px;
  font-weight: bold;
  color: #d1b790;
}

#world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(#e4e0ba, #f7d9aa);
}